* {
    margin: 0;
    box-sizing: border-box;
}
.fruit_list .table 
     {
        font-family: 'Times New Roman', Times, serif;
        padding: 10px;
        margin: 10px;
        border: none;
        align-items: center;
}
.fruit_list .table th{
    background-color: gray;
}